.popup__button {
  margin: 18px 0 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #FFF;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  transition: .5s;
}

.popup__button:hover {
  opacity: .8;
}


@media (max-width: 879px) {
  .popup__button {
    margin: 45px 0 0;
    height: 46px;
    font-size: 14px;
    line-height: 1.21;
  }
}