.popup__close {
  width: 32px;
  height: 32px;
  display: block;
  background-image: url(../../../images/close.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: .5s;
}

.popup__close:hover {
  opacity: .6;
}


@media (max-width: 879px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}