.profile__title {
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
  grid-area: title;
}


@media (max-width: 879px) {
  .profile__title {
    font-size: 27px;
    line-height: 1.22;
    margin-left: 28px;
  }
}