.burger__close {
  display: none;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/close.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: .5s;
}

.burger__close:hover {
  opacity: .6;
}

@media (max-width: 879px) {
  .burger__close {
    display: block;
  }
}